
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<%# # link_to 'My Blog': This part specifies the anchor text of the link, which will display as "My Blog" in the browser.  %>

<%# controller: 'articles': This specifies the controller that the link should point to. In this case, it's directing to the index action of the ArticlesController. %>